<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.oa.mapper.SubsidiaryMapper">

    <resultMap id="customResultMap" type="com.yxy.oa.entity.SubsidiaryInfo">
        <result property="id" column="id"/>
        <result property="subsidiaryName" column="subsidiary_name"/>
        <result property="subsidiaryCode" column="subsidiary_code"/>
        <result property="apiKey" column="api_key"/>
        <result property="apiSecret" column="api_secret"/>
        <result property="state" column="state"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="columns">
        	id,
        	subsidiary_name,
        	subsidiary_code,
        	api_key,
        	api_secret,
        	state,
        	del_flag,
        	create_time,
        	create_uid,
        	update_time,
        	update_uid
	</sql>

    <select id="checkCodeAndName" parameterType="com.yxy.oa.entity.SubsidiaryInfo" resultMap="customResultMap">
        SELECT
        <include refid="columns"/>
        FROM `t_subsidiary_info`
        WHERE subsidiary_name = #{subsidiaryName}
        OR subsidiary_code = #{subsidiaryCode}
    </select>

    <select id="checkCodeAndNameExcludeThis" parameterType="com.yxy.oa.entity.SubsidiaryInfo"
            resultMap="customResultMap">
        SELECT
        <include refid="columns"/>
        FROM `t_subsidiary_info`
        WHERE id != #{id} AND (subsidiary_name = #{subsidiaryName}
        OR subsidiary_code = #{subsidiaryCode})
    </select>

    <select id="selectSubsidiaryNo" resultType="java.util.Map">
		SELECT subsidiary_name,subsidiary_code FROM `t_subsidiary_info`
	</select>

</mapper>

